{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <!-- js list -->
    <script src="{% static 'js/product/list.js' %}"></script>
{% endblock %}

{% block cols %}
    <tr>
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col" style="width: 5%;">Imagen</th>
        <th scope="col" style="width: 10%;">Código</th>
        <th scope="col" style="width: 25%;">Categoria</th>
        <th scope="col" style="width: 15%;">Nombre</th>
        <th scope="col" style="width: 25%;">Descripcióm</th>
        <th scope="col" style="width: 5%;">Precio</th>
        <th scope="col" style="width: 5%;">Stock</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}