{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'js/user/list.js' %}"></script>
{% endblock %}

{% block cols %}
    <tr>
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col" style="width: 5%;">Imagen</th>
        <th scope="col" style="width: 30%;">Nombres Completos</th>
        <th scope="col" style="width: 10%;">Usuario</th>
        <th scope="col" style="width: 20%;">Email</th>
        <th scope="col" style="width: 10%;">F. Registro</th>
        <th scope="col" style="width: 15%;">Grupos</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}