{% extends 'login/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'login' %}"><i class="fas fa-shopping-cart"></i> <b>POS</b>-STORE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicie Sesión para ingresar al sistema.</p>

                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="input-group mb-3">
                        {{ form.username|add_class:'form-control'|attr:'placeholder:Ingrese su username.' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password|add_class:'form-control'|attr:'placeholder:Ingrese su password.' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="#">Olvide mi contraseña</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            {% if form.errors %}
                let errors = '';

                {% for error in form.non_field_errors %}
                    errors += '{{ error }}<br>';
                {% endfor %}

                get_errors(errors);
            {% endif %}
        });
    </script>
{% endblock %}